.DS_Store
.git/*
.idea/*
*.swap
notebooks/.ipynb_checkpoints/*
data/*
!data/interim/.gitkeep
!data/original/running_data/.gitkeep
!data/original/training_data/.gitkeep
!tmp/.gitkeep
tmp/*
**/__pycache__/*
**/.ipynb_checkpoints/*